<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sust.onlineorder.dao.TFoodMapper" >
  <resultMap id="BaseResultMap" type="com.sust.onlineorder.entity.TFood" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_title" property="itemTitle" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="praise_num" property="praiseNum" jdbcType="INTEGER" />
    <result column="month_sale" property="monthSale" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="orgin_price" property="orginPrice" jdbcType="DECIMAL" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shop_id, category, item_name, item_title, picture, `count`, praise_num, month_sale, 
    price, orgin_price, activity_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sust.onlineorder.entity.TFoodExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_food
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_food
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_food
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sust.onlineorder.entity.TFoodExample" >
    delete from t_food
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sust.onlineorder.entity.TFood" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_food (shop_id, category, item_name, 
      item_title, picture, `count`, 
      praise_num, month_sale, price, 
      orgin_price, activity_id)
    values (#{shopId,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{itemTitle,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, 
      #{praiseNum,jdbcType=INTEGER}, #{monthSale,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{orginPrice,jdbcType=DECIMAL}, #{activityId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sust.onlineorder.entity.TFood" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemTitle != null" >
        item_title,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="count != null" >
        `count`,
      </if>
      <if test="praiseNum != null" >
        praise_num,
      </if>
      <if test="monthSale != null" >
        month_sale,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="orginPrice != null" >
        orgin_price,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemTitle != null" >
        #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="praiseNum != null" >
        #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="monthSale != null" >
        #{monthSale,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="orginPrice != null" >
        #{orginPrice,jdbcType=DECIMAL},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sust.onlineorder.entity.TFoodExample" resultType="java.lang.Integer" >
    select count(*) from t_food
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_food
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemTitle != null" >
        item_title = #{record.itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null" >
        `count` = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.praiseNum != null" >
        praise_num = #{record.praiseNum,jdbcType=INTEGER},
      </if>
      <if test="record.monthSale != null" >
        month_sale = #{record.monthSale,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.orginPrice != null" >
        orgin_price = #{record.orginPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.activityId != null" >
        activity_id = #{record.activityId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_food
    set id = #{record.id,jdbcType=INTEGER},
      shop_id = #{record.shopId,jdbcType=INTEGER},
      category = #{record.category,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_title = #{record.itemTitle,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      `count` = #{record.count,jdbcType=INTEGER},
      praise_num = #{record.praiseNum,jdbcType=INTEGER},
      month_sale = #{record.monthSale,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      orgin_price = #{record.orginPrice,jdbcType=DECIMAL},
      activity_id = #{record.activityId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sust.onlineorder.entity.TFood" >
    update t_food
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemTitle != null" >
        item_title = #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        `count` = #{count,jdbcType=INTEGER},
      </if>
      <if test="praiseNum != null" >
        praise_num = #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="monthSale != null" >
        month_sale = #{monthSale,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="orginPrice != null" >
        orgin_price = #{orginPrice,jdbcType=DECIMAL},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sust.onlineorder.entity.TFood" >
    update t_food
    set shop_id = #{shopId,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_title = #{itemTitle,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      `count` = #{count,jdbcType=INTEGER},
      praise_num = #{praiseNum,jdbcType=INTEGER},
      month_sale = #{monthSale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      orgin_price = #{orginPrice,jdbcType=DECIMAL},
      activity_id = #{activityId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>